<div class="container-fluid p-0">
  <a href="" class="text-decoration-none text-black">
    <div class="row">
      <img [src]="video.linkMiniatura"
           alt="">
    </div>
    <div class="row p-2">
      <div class="col-2">
        <img class="rounded-circle" [src]="video.linkFotoPerfil"
             alt="" height="35px">
      </div>
      <div class="col">
        <h6 class="text-bold" style="font-size: 15px">{{video.nombre}}</h6>
        <p class="py-0 my-0" style="font-size: 12px">{{video.creador}}</p>
        <p class="py-0 my-0" style="font-size: 12px">{{video.cantidadVistas}} visualizaciones . Hace {{video.fecha}}</p>
      </div>
    </div>
  </a>
</div>


